*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body div h1{
  margin-left: 120px;
  color: #f50c8c;
}
body div h1:hover{
    font-size: 42px;
}
label{
    display: block;
    margin: 10px;
    font-size: 30px;  
    color: green; 
    font-weight: 900;
}
label:hover{
    font-size: 38px;
}
input{
    padding: 10px 20px;
    border-radius: 10px;
    border-color: #f50c8c;
}
input:hover{
   box-shadow: 0 0 10px #060600;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin-top: 200px;
    background-color: #15647a;
    
}
.boxShadow{
    box-shadow: 0 0 50px #010e09;
    padding: 30px 80px;
    background-color: white;
    border-radius: 8px;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(29, 115, 155);
    color: white;
    font-size: 20px;
    border: none;
}
button:hover{
    font-size: 36px ;
}
#resultantColorBox{
    width: 200px;
    height: 100px;
    margin: 20px;
    border: 3px solid #e7e5e6;
    border-radius: 2rem;
}
#resultantColorName{
    font-size: 40px;
    color: white;
}


